<ng-container *ngIf="product.length !=0">
    <div class="container">
        <h1 style="text-align: center;" class="display-5">My Cart</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" *ngFor="let item of product; let i = index">
                    <div class="card">
                        <img src="{{ item.image }}" class="card-img-top img-product" alt="product">
                        <div class="card-body dark">
                            <h5 class="card-title" style="white-space:nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 50ch;">{{ item.title }}</h5>
                            <p class="card-text" style="white-space:nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 150ch;">{{ item.description }}</p>
                            <h6>Price: ${{ item.price }}</h6>
                            <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <button (click)="emptycart()" class="btn btn-danger">Empty Cart</button>
          </div>
          <div class="col">
            <button routerLink="" class="btn btn-primary">Shop More</button>
          </div>
          <div class="col">
            <button class="btn btn-success">Checkout</button>
          </div>
          <div class="col">
            <strong>Grand Total : ${{grandTotal}}</strong>
          </div>
        </div>
      </div>   
</ng-container>

<ng-container *ngIf="product.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h4>Your Cart Is Empty!</h4>
            <h6>Add Items To It Now</h6>
            <button routerLink="/products" class="btn btn-dark" style="margin-bottom: 100px;">Shop Now</button>
        </div>
    </div>
</ng-container>

