.img-product{
    height: 285px;
    padding: 0% 15% 0% 15%;
    transition: 0.3s ease-in-out;
}
.img-product:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.navbar {
    height: 60px;
    display: block;
    position: fixed;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: rgb(29, 29, 29);
  }

  .btn-dark:hover{
      background-color: rgb(255, 255, 255);
      color: black;
  }
  .btn-dark:active{
      background-color: rgb(43, 43, 43);
      color: rgb(255, 255, 255);
  }