.img-product{
    height: 285px;
    padding: 0% 15% 0% 15%;
    transition: 0.3s ease-in-out;
}
.img-product:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.navbar {
    height: 60px;
    display: block;
    position: fixed;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: rgb(29, 29, 29);
  }