<div class="container">
    <div class="card">
        
    </div>
    <div class="center">
        <img src="https://us.123rf.com/450wm/farbo/farbo1808/farbo180800011/112341918-hand-sketched-thank-you-text-with-heart-in-flat-style-design-lettering-typography-.jpg?ver=6" alt="">
        <h4>Thank You For Your Order!</h4>
        <h6>We appreciate your most recent purchase and hope you<br><br>ENJOY YOUR NEW ITEMS</h6>
        <button routerLink="" class="btn btn-dark" style="margin-bottom: 100px;">EXPLORE MORE</button>
    </div>
</div>